<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @keyword.word %>
</p>

<p>
  <strong>Language:</strong>
  <%= @keyword.language %>
</p>

<span style="font-size:20px;width:100px;display:inline-block"><%= link_to '<button type="button">Ok</button>'.html_safe, keywords_path %></span>

